name: Build and deploy to Docker Hub and Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          # PASS CLERK KEY HERE
          build-args: |
            NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
          # CHANGE TAG TO DOCKER HUB FORMAT: username/repo:tag
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/cortana:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2AA9DD288D704001A5498CC3EF35C62F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_96004DC7FC7C429FA29B73695D3EA58E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B92180075274436783C0389345BB7493 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'cortana' 
          slot-name: 'Production'
          # Tell Azure to pull the image from Docker Hub
          images: '${{ secrets.DOCKER_HUB_USERNAME }}/cortana:${{ github.sha }}'